[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle/slim"]
	path = bundle/slim
	url = https://github.com/slim-template/vim-slim
