[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle/slim"]
	path = bundle/slim
	url = https://github.com/slim-template/vim-slim
[submodule "bundle/pandoc"]
	path = bundle/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/ir_black"]
	path = bundle/ir_black
	url = https://github.com/twerth/ir_black
[submodule "bundle/vim-colors-ir_black-256"]
	path = bundle/vim-colors-ir_black-256
	url = https://github.com/msutherl/vim-colors-ir_black-256
[submodule "bundle/vim-colors-pencil"]
	path = bundle/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil
[submodule "bundle/vim-hemisu"]
	path = bundle/vim-hemisu
	url = https://github.com/noahfrederick/vim-hemisu/
